.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // overflow-x: hidden;
  z-index: 100;
  background: transparent;
  transition: 0.5s ease;
  &__container {
    max-width: 1440px;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  &--sticky {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    background: #0f0a0a;
  }

  &__logo {
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    transform: translateX(-100%);
    opacity: 0;
    animation: RightSlide 1s ease forwards;

    span {
      color: #2ecc71;
    }
  }

  &__menu {
    display: flex;
    gap: 3rem;
  }

  &__link {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease;
    transform: translateY(-100px);
    opacity: 0;
    animation: TopSlide 1s ease forwards;
    animation-delay: calc(0.2s * var(--vlr));

    &:hover,
    &--active {
      color: #2ecc71;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      transition: all 0.6s;
      opacity: 0;
      border: 3px solid #2ecc71;
    }

    &::before {
      left: 12px;
      bottom: 12px;
      border-width: 0 0 3px 3px;
    }

    &::after {
      top: 0;
      right: 0;
      border-width: 3px 3px 0 0;
    }

    &:hover::before {
      opacity: 1;
      bottom: -8px;
      left: -8px;
    }

    &:hover::after {
      opacity: 1;
      top: -8px;
      right: -8px;
    }
  }

  #menu {
    display: none;
    color: #fff;
    font-size: 2rem;
  }
}
@media (max-width: 1440px) {
  .navbar {
    &__container {
      max-width: 1200px;
      width: 100%;
      padding: 25px 60px;
    }
    &__logo {
      font-size: 29px;
    }
    &__menu {
      gap: 2rem;
    }
    &__link {
      font-size: 17px;
    }
  }
}

@media (max-width: 992px) {
  .navbar {
    &__container {
      width: 100%;
      max-width: 100%;
      padding: 20px 60px;
    }

    &__menu {
      position: fixed;
      top: 70px;
      right: 40px;

      width: 160px;
      padding: 20px;

      background: #0f0a0a;
      border-radius: 16px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;

      transform: translateY(-20px);
      opacity: 0;
      visibility: hidden;

      transition: 0.35s ease;

      &--active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }

    #menu {
      display: flex;

      align-items: center;
      justify-content: center;

      width: 40px;
      height: 40px;
      right: 60px;
      font-size: 2rem;
      color: #fff;

      cursor: pointer;
    }
  }
}

@media (max-width: 576px) {
  .navbar {
    width: 100%;
    &__container {
      width: 100%;
      max-width: 100%;
      padding: 20px 70px;
    }

    &__logo {
      font-size: 25px;
    }

    &__menu {
      top: 80px;
      right: 60px;
      width: 150px;
    }

    #menu {
      display: flex;

      align-items: center;
      justify-content: center;

      width: 40px;
      height: 40px;

      font-size: 2rem;
      color: #fff;

      cursor: pointer;
    }
  }
}
