.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  z-index: 100;
  background: transparent;
  transition: 0.5s ease;
  &__container {
    max-width: 1200px;
    padding: 25px 60px;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  &--sticky {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    background: #0f0a0a;
  }

  &__logo {
    color: #fff;
    text-decoration: none;
    font-size: 29px;
    font-weight: 700;
    transform: translateX(-100%);
    opacity: 0;
    animation: RightSlide 1s ease forwards;

    span {
      color: #2ecc71;
    }
  }

  &__menu {
    display: flex;
    gap: 2rem;
  }

  &__link {
    position: relative;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease;
    transform: translateY(-100px);
    opacity: 0;
    animation: TopSlide 1s ease forwards;
    animation-delay: calc(0.2s * var(--vlr));

    &:hover,
    &--active {
      color: #2ecc71;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      transition: all 0.6s;
      opacity: 0;
      border: 3px solid #2ecc71;
    }

    &::before {
      left: 12px;
      bottom: 12px;
      border-width: 0 0 3px 3px;
    }

    &::after {
      top: 0;
      right: 0;
      border-width: 3px 3px 0 0;
    }

    &:hover::before {
      opacity: 1;
      bottom: -8px;
      left: -8px;
    }

    &:hover::after {
      opacity: 1;
      top: -8px;
      right: -8px;
    }
  }

  #menu {
    display: none;
    color: #fff;
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #0f0a0a;
    box-sizing: border-box;

    &__container {
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__menu {
      position: fixed;
      top: 60px;
      right: 0;
      width: 200px;
      padding: 20px;
      background: #0f0a0a;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      transform: translateX(30%);
      visibility: hidden;
      opacity: 0;
      transition:
        transform 0.4s ease,
        opacity 0.3s ease,
        visibility 0.4s;

      &--active {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
      }
    }
    #menu {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.5s ease;
      right: 80px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      z-index: 1001;
    }
  }
}
