.about {
  &__image {
    width: 250px;
    height: auto;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0 0 8rem #2ecc71);
  }
}
