.about {
  padding: 100px 10%;
  text-align: center;

  &__wrapper--vertical {
    max-width: 900px;
    margin: 0 auto;
  }

  &__image-box {
    width: 100%;
    margin-bottom: 30px;

    img {
      width: 250px;
      height: auto;
      object-fit: cover;

      border: 3px solid rgba(255, 255, 255, 0.3);
      border-radius: 30px;

      filter: drop-shadow(0 0 8rem #2ecc71);
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    }
  }

  &__image {
    scale: 0;
  }

  &__hero-text {
    font-size: clamp(20px, 2.5vw, 4rem);
    margin-bottom: 30px;

    background: linear-gradient(to bottom, #fff, #2ecc71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    opacity: 0;
    transform: translateX(-100px);
  }

  &__content {
    text-align: justify;
  }

  &__desc {
    font-size: 16px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.85);

    opacity: 0;
    transform: translateX(100px);

    strong {
      color: #2ecc71;
    }
  }

  &__expanded-content {
    overflow: hidden;
    max-height: 0;
    opacity: 0;

    transition:
      max-height 0.5s ease,
      opacity 0.5s ease;

    .about__item {
      margin-top: 10px;
      padding-top: 10px;
      font-size: 16px;

      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    strong {
      color: #2ecc71;
    }
  }

  &__expanded-content--show {
    max-height: 1000px;
    opacity: 1;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    opacity: 0;
    transform: translateY(100px);
  }

  &__btn.btn {
    width: 200px;
    height: 50px;
  }

  &.start-animation {
    .about__image {
      animation: scaleout 1s ease forwards;
    }

    .about__hero-text {
      animation: Right 0.5s ease forwards;
    }

    .about__desc {
      animation: Left 0.8s ease forwards;
    }

    .about__buttons {
      animation: Bottoms 0.8s ease forwards;
    }
  }
}
