.contact {
  width: 100%;
  margin: 100px 0;

  &__container {
    max-width: 1440px;
    padding: 30px;
    margin: 0 auto;
  }
  &__form {
    text-align: center;
    width: 100%;

    margin: 0 auto;
    border: 1.5px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    padding: 40px;
    background: rgba(15, 23, 42, 0.85);
    opacity: 0;
    transform: translateY(40px);
    will-change: transform, opacity;
  }

  .input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    input {
      flex: 1;
    }

    input:nth-child(1) {
      opacity: 0;
      transform: translateX(-100px);
    }

    input:nth-child(2) {
      opacity: 0;
      transform: translateX(100px);
    }
  }

  textarea {
    opacity: 0;
    transform: translateY(100px);
    resize: none;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(100px);
  }

  input,
  textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.1);
    border: 1.5px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    backdrop-filter: blur(10px);
    filter: drop-shadow(0 0 10px #2ecc71);
    transition: 0.3s ease;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-size: 14px;
    }

    &:focus,
    &:valid {
      border: 2px solid #2ecc71;
      box-shadow: 0 0 10px #2ecc71;
    }
  }

  &__btn {
    margin-top: 20px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    filter: none;
  }

  &.start-animation {
    .contact__form {
      animation: fadeUp 0.6s ease forwards;
      animation-delay: 0.2s;
    }
    .input-box input:nth-child(1) {
      animation: Right 0.5s ease forwards;
      animation-delay: 0.3s;
    }

    .input-box input:nth-child(2) {
      animation: Left 0.5s ease forwards;
      animation-delay: 0.5s;
    }

    textarea {
      animation: Bottom 0.5s ease forwards;
      animation-delay: 0.7s;
    }

    .contact__buttons {
      animation: Bottoms 0.5s ease forwards;
      animation-delay: 1s;
    }
  }
}

@media (max-width: 1440px) {
  .contact {
    margin-bottom: 150px;
    &__container {
      max-width: 1200px;
      padding: 10px 60px;
    }
    &__form {
      padding: 30px;
    }
    &__input-box {
      gap: 20px;
    }
    input,
    textarea {
      padding: 10px;
      margin: 8px 0;
      font-size: 14px;
    }
  }
}

@media (max-width: 992px) {
  .contact {
    margin-bottom: 150px;
    &__container {
      padding: 10px 60px;
    }
    &__form {
      padding: 30px;
    }
    &__input-box {
      gap: 15px;
    }
  }
}

@media (max-width: 576px) {
  .contact {
    &__container {
      padding: 10px 40px;
      margin: 0 auto;
    }
    &__form {
    }

    .input-box {
      flex-direction: column;
      gap: 10px;
    }
  }
}
