.education {
  width: 100%;
  text-align: center;
  padding: 80px 0;

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
  }

  &__group {
    position: relative;
    opacity: 0;
    padding: 20px 80px;
    transform: translateY(40px);
    border: 1.5px solid rgba(59, 233, 131, 0.532);
    border-radius: 25px;
    will-change: transform, opacity;
    transition: 0.35s ease;
    margin: 30px auto;
  }
  &__group-header {
    margin-bottom: 15px;
  }
  &__label {
    display: inline-block;
    margin-bottom: 10px;
    padding: 7px 16px;
    background: rgba(46, 204, 113, 0.12);
    color: #2ecc71;
    font-size: 22px;
    border-radius: 12px;
    font-weight: 700;
  }
  &__item {
    position: relative;
    margin-bottom: 20px;
  }

  &__card {
    width: 100%;
    margin: 0 auto;
    padding: 25px 25px;
    background: rgba(15, 23, 42, 0.85);
    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: 0.35s ease;
    border-radius: 20px;

    &:hover {
      transform: translateY(-5px);
      border-color: rgba(59, 233, 131, 0.532);
      box-shadow: 0 18px 40px rgba(56, 239, 132, 0.295);
    }
  }
  &__period {
    display: inline-block;
    margin-bottom: 10px;
    color: #7affb1;
    font-size: 20px;
    font-weight: 700;
  }
  &__title {
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 800;
    color: #f8fafc;
  }
  &__subtitle {
    color: #cbd5e1;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
  }

  &__gpa {
    display: inline-block;
    margin-top: 10px;
    padding: 6px 16px;
    border-radius: 999px;
    background: rgba(46, 204, 113, 0.1);
    color: #2ecc71;
    font-size: 0.8rem;
    font-weight: 700;
  }
  &__desc {
    margin-top: 15px;
    color: #cbd5e1;
    font-size: 18px;
    line-height: 1.7;
  }
  &__activities {
  }
  .education__activities {
    display: flex;
    flex-direction: column;
  }

  .education__activity {
    position: relative;
    padding: 0 10px 10px 60px;
    text-align: left;
    color: #cbd5e1;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;

    transition:
      transform 0.3s ease,
      border-color 0.3s ease,
      background 0.3s ease,
      box-shadow 0.3s ease;

    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: 22px;
      top: 8px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #2ecc71;
      box-shadow:
        0 0 10px rgba(46, 204, 113, 0.8),
        0 0 20px rgba(46, 204, 113, 0.4);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 4px;
      border-radius: 999px;
      height: 100%;
      background: linear-gradient(to bottom, #2ecc71, rgba(46, 204, 113, 0.2));
    }
  }
  &.start-animation {
    .education__group {
      animation: fadeUp 0.65s ease forwards;
    }

    .education__group:nth-child(1) {
      animation-delay: 0.15s;
    }

    .education__group:nth-child(2) {
      animation-delay: 0.3s;
    }

    .education__group:nth-child(3) {
      animation-delay: 0.45s;
    }

    .education__group:nth-child(4) {
      animation-delay: 0.6s;
    }
  }
}

@media (max-width: 1440px) {
  .education {
    &__container {
      max-width: 1200px;
      padding: 0 60px;
    }
    &__group {
      padding: 10px 80px;
    }
    &__label {
      margin-top: 10px;
    }
    &__card {
      padding: 20px 25px;
    }
    &__title {
      font-size: 20px;
    }
    &__desc {
      font-size: 16px;
    }
    &__activity {
      font-size: 15px;
    }
  }
}

@media (max-width: 992px) {
  .education {
    &__container {
      max-width: 100%;
      padding: 0 60px;
    }
    &__group {
      padding: 10px 60px;
    }
  }
}

@media (max-width: 768px) {
  .education {
    padding: 80px 40px;

    &__container {
      padding: 0;
    }

    &__group {
      padding: 20px;
    }
    &__label {
      margin-top: 0;
    }

    &__card {
      padding: 20px;
    }
    &__period {
      font-size: 1rem;
    }
    &__gpa {
      font-size: 0.9rem;
    }

    &__title {
      font-size: 1rem;
    }
  }
}
